build/
dist/
__pycache__/
.hatch/
report.html
.coverage
.pytest_cache/
htmlcov/
*.egg-info/
venv*/
*.whl
*.tgz
docs/_build/
.vscode
/temp/
docs/dev/reference/
.ruff_cache/
.prettier-cache
*.spec
temp/
