repos:
  - repo: https://gitlab.com/pycqa/flake8
    rev: master
    hooks:
      - id: flake8
        additional_dependencies: [
          flake8-print,
          flake8-implicit-str-concat,
        ]
