name: CI

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - master
    tags:
      - v*

jobs:
  test:
    name: Test
    runs-on: ${{ matrix.platform }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: ubuntu-latest
            python-version: 3.7
          - platform: ubuntu-latest
            python-version: 3.8
          - platform: ubuntu-latest
            python-version: 3.9
          - platform: ubuntu-latest
            python-version: '3.10'
          - platform: macos-latest
            python-version: 3.7
          - platform: macos-latest
            python-version: '3.10'
          - platform: windows-latest
            python-version: 3.7
          - platform: windows-latest
            python-version: '3.10'
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python v3
        uses: actions/setup-python@v3
        with:
          python-version: 3.x
      - name: Install poetry
        id: poetry
        shell: bash
        run: |
          curl -sSL https://install.python-poetry.org > __install_poetry.py
          python __install_poetry.py --preview
          scripts_path=$(python -c 'import __install_poetry as i;print(i.bin_dir())')
          rm __install_poetry.py
          echo $scripts_path >> $GITHUB_PATH
      - name: Get MD4C version
        uses: oprypin/find-latest-tag@v1
        id: md4c_version
        with:
          repository: mity/md4c
          prefix: release-
      - name: Fetch MD4C
        uses: actions/checkout@v3
        if: runner.os == 'macOS'
        with:
          repository: mity/md4c
          ref: ${{steps.md4c-version.outputs.tag}}
          path: md4c-lib
      - name: Build MD4C
        if: runner.os == 'macOS'
        run: |
          mkdir md4c-lib/build
          cd md4c-lib/build
          cmake -DCMAKE_BUILD_TYPE=Release ..
          cmake --build . --config Release
          cmake --install .
      - name: Install dependencies
        run: |
          poetry install --with test
          poetry show
      - name: Run unit tests
        run: poetry run pytest tests/test_unit
      - name: Run integration tests
        run: poetry run pytest tests/test_integration --override-ini addopts=-svv
      - name: Coveralls
        run: |
          pip install coveralls coverage[toml]
          coveralls
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COVERALLS_SERVICE_NAME: github

  test-docs:
    name: Build documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install poetry
        run: |
          curl -sSL https://install.python-poetry.org | python - --preview
          poetry self add poetry-exec-plugin
          poetry self show plugins
      - name: Set up Python v3
        uses: actions/setup-python@v3
        with:
          python-version: 3.x
          cache: poetry
      - name: Install dependencies
        run: |
          poetry install --with doc
          poetry show
      - name: Build documentation
        run: poetry exec doc
        env:
          SPHINX_GITHUB_CHANGELOG_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/upload-artifact@v3
        with:
          path: docs/_build/html/*

  build-dist:
    if: startsWith(github.ref, 'refs/tags/')
    needs:
      - test
      - test-docs
    name: Build package
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
        name: Install Python v3.x
        with:
          python-version: 3.x
      - name: Install build dependencies
        run: pip install build
      - name: Build package
        run: python -m build
      - uses: actions/upload-artifact@v3
        with:
          path: dist/*
          name: distribution

  pypi-upload:
    name: Upload to PyPI
    needs: build-dist
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: distribution
          path: dist
      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_TOKEN }}
          # repository_url: https://test.pypi.org/legacy/
          skip_existing: true

  release:
    name: Release
    needs: build-dist
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Get tag metadata
        id: tag
        run: |
          TAG_TITLE=${GITHUB_REF#refs/*/}
          echo ::set-output name=title::$TAG_TITLE
          git -c protocol.version=2 fetch --prune --progress \
            --no-recurse-submodules origin \
            +refs/heads/*:refs/remotes/origin/* +refs/tags/*:refs/tags/*
          TAG_BODY="$(git tag -l --format='%(contents)' $TAG_TITLE)"
          TAG_BODY="${TAG_BODY//'%'/'%25'}"
          TAG_BODY="${TAG_BODY//$'\n'/'%0A'}"
          TAG_BODY="${TAG_BODY//$'\r'/'%0D'}"
          echo ::set-output name=body::$TAG_BODY
      - name: Create Release
        uses: softprops/action-gh-release@v1
        id: create-release
        with:
          name: ${{ steps.tag.outputs.title }}
          tag_name: ${{ steps.tag.outputs.title }}
          body: ${{ steps.tag.outputs.body }}
          draft: false
          prerelease: false
      - uses: actions/download-artifact@v3
        name: Download builds
        with:
          name: distribution
          path: dist
      - uses: shogo82148/actions-upload-release-asset@v1
        name: Upload release assets
        with:
          upload_url: ${{ steps.create-release.outputs.upload_url }}
          asset_path: dist/*
